.landing, .button, .navbar-fixed-top, .menu a.active:after {
	background-color: <%= primaryColor %>;
}
.index-container li a, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, a, ul.nav li.dropdown:hover>a, .content li > strong.li-title {
	color: <%= primaryColor %>;
}
a:active, a:hover, .menu a:hover{
	color: <%= primaryColor %>;	
}
 .tt-menu:before {
 	border-bottom-color: <%= primaryColor %>;
 } 
.paginationLink {
	border-color: <%= primaryColor %>;
}
.paginationLink:hover {
	background: <%= primaryColor %>;
	border-color: <%= primaryColor %>;
}
.megamenu> li > ul > li.dropdown-header > a {
  color: <%= primaryColor %>;
  border-bottom-color: <%= primaryColor %>;
}
.menu a.active, .menu a.active:visited, .menu a.active:hover {
	color: <%= primaryColor %> !important;
	font-weight: normal !important;
}